body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.heading{
  font-size:40px;
  text-align: center;
}

.step {
  background: #1e1e1e;
  border: 1px solid #333;
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 6px;
}
.header .right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.arrow {
  margin-left: 10px;
  font-size: 14px;
  transition: transform 0.3s;
}

.progress-bar {
  height: 8px;
  background-color: #333;
  border-radius: 4px;
  overflow: hidden;
  margin: 8px 0;
}

.progress-bar div {
  height: 100%;
  background-color: red;
  width: 0%;
  transition: width 0.3s ease;
}

.content {
  display: none;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #333;
}

th {
  background-color: #2a2a2a;
}
.home-button {
  font-size: 28px;
  text-decoration: none;
  color: black;
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  padding: 10px 14px;
  border-radius: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, background 0.3s;
  z-index: 1000;
}

.home-button:hover {
  background: #e0ffe0;
  transform: scale(1.1);
}
